$mainColor : rgb(207, 161, 101);
$backColor : rgb(50, 49, 66);
$textBlue : rgb(0, 144, 178);
$textBlack : rgb(32, 32, 32);
$border : rgb(96, 148, 201);
$yes : rgb(20, 126, 52);
$no : rgb(126, 20, 46);
$active : rgb(178, 85, 0);
$hover: rgb(255, 123, 0);

@mixin hoverAction() {
  &:hover {
    cursor: pointer;
      color: $hover;
    }
    &:active {
        color: $active;
    }
}

@mixin swipe($choice) {
  background-color: $choice;
  border-color: $choice;
  padding: 5px 30px 5px 30px;
  font-size: 40px;
  border-width: thin;
  border-radius: 20px;
  &:hover {
    cursor: pointer;
    box-shadow: 5px 8px 18px rgba(255, 123, 0, .4);
  }
}

@mixin deets() {
  font-size: 30px;
  position: absolute;
  color: $textBlue;
}

@mixin link() {
  margin: 40px 0 0 20px;
  font-size: x-large;
  color: $textBlue;
  transition: 0.3s;
  position: absolute;
  text-decoration: none;
}

body {
  font-family: arial;
  background-color: $backColor;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  height: 100%;
  width: 90vw;
  background-color: $mainColor;
  transition: margin-left .5s;
  padding: 20px;
  z-index: -1;
  margin-left: 15px;
  #settings {
    @include hoverAction();
    position: absolute;
    top: 20px;
    font-size: xx-large;
    margin-left: 20px;
    text-decoration: underline;
    color: rgb(230, 222, 222);
    border: none;
    background: none;
  }
}

h1 {
  text-align: center;
  margin: 5px 450px 20px 480px;
  padding: 0 20px 20px 20px;
  font-size: 100px;
  color: $border;
  border-width: medium;
  border-color: $border;
  border-radius: 20px;
}

h2 {
  font-size: 80px;
  text-align: center;
  color: $backColor;
}

#header3 {
  font-size: 50px;
  text-align: center;
  color: $backColor;
}

h3 {
  padding-right: 100px;
  padding-left: 50px;
  font-size: xx-large;
  text-decoration: underline;
  background-color: $textBlue;
  color: $backColor;
}

#select {
  margin: 43% 0 10px 0;
  #no {
    @include swipe($no);
    margin-left: 440px;
  }
  #view {
    font-size: 40px;
    margin: 0 50px 30px 50px;
    text-decoration: none;
    color: $textBlue;
    &:hover {
    cursor: pointer;
      color: $textBlack;
    }
    &:active {
        color: $active;
    }
  }
  #yes {
    @include swipe($yes);
  }
}

#choice-box {
  position: absolute;
  width: 60vw;
  height: 75vh;
  // left: 330px;
  left: 22%;
  top: 8%;
  // top: 50px;
  border-radius: 50px;
  background-size: 60vw 75vh;
  background-repeat: no-repeat;
  vertical-align: middle;
  #alt {
    text-align: center;
    padding: 160px 40px 165px 40px;
    color: $mainColor;
    border-radius: 50px;
    background-color: $backColor;
    font-size: 50px;
  }
  #title {
    @include deets();
    top: 60%;
    left: 6%;
    font-size: 55px;
  }
  #breed {
    @include deets();
    top: 73%;
    left: 8%;
  }
  #age {
    @include deets();
    top: 82%;
    left: 8%
  }
}

.navbar {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $backColor;
  overflow-x: hidden;
  transition: 0.5s;
  #settings {
    @include hoverAction();
    font-size: large;
    margin-left: 10px;
    text-decoration: underline;
    color: $textBlue;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
  }
  .nav {
    #choice {
      @include hoverAction();
      @include link();
      top: 100px;
    }
    #log {
      @include hoverAction();
      @include link();
      top: 160px;
    }
    #pro {
      @include hoverAction();
      @include link();
      top: 220px;
    }
    #dog {
      @include hoverAction();
      @include link();
      top: 280px;
    }
    #loc {
      @include hoverAction();
      @include link();
      top: 340px;
    }
  }
}

#log-butt {
  #signup {
    background-color: $backColor;
    color: $textBlue;
    margin-left: 10px;
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
  }
  #login {
    background-color: $textBlue;
    color: $backColor;
    margin-left: 690px;
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
  }
}

#loginn {
  background-color: $textBlue;
  color: $backColor;
  margin-left: 650px;
  font-size: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

#dude {
  font-size: 40px;
  margin: 0 50px 30px 50px;
  text-decoration: none;
  color: $textBlue;
  &:hover {
    color: $textBlack;
  }
  &:active {
      color: $active;
  }
}

#loc-box {

}

.create {

}
.create-desc {

}

.input-field {
  width: 500px;
  height: 35px;
  font-size: 16px;
  margin: 10px 0 10px 340px;
  padding-left: 10px
}

.map {
  width: 70vw;
  height: 60vh;
  margin-left: 200px;
  margin-bottom: 20px;
  border: 5px solid #333;
  border-radius: 20px;
}