
$mainColor : rgb(165, 134, 199);
$backColor : rgb(50, 49, 66);
$textBlue : rgb(0, 144, 178);
$textBlack : rgb(32, 32, 32);
$border : rgb(96, 148, 201);
$yes : rgb(20, 126, 52);
$no : rgb(126, 20, 46);
$active : rgb(178, 85, 0);
$hover: rgb(255, 123, 0);

body {
  font-family: arial;
  background-color: $backColor;
}

.App {
  background-color: $mainColor;
  transition: margin-left .5s;
  padding: 20px;
  z-index: -1;
  #settings {
    position: absolute;
    top: 20px;
    font-size: xx-large;
    margin-left: 20px;
    text-decoration: underline;
    color: rgb(230, 222, 222);
    border: none;
    background: none;
    cursor: pointer;
    &:hover {
      color: $hover;
    }
    &:active {
        color: $active;
    }
  }
}

h1 {
  text-align: center;
  margin: 5px 450px 20px 480px;
  padding: 0 20px 20px 20px;
  font-size: 100px;
  color: $border;
  border-width: medium;
  border-color: $border;
  border-radius: 20px;
}
h2 {
  font-size: 80px;
  text-align: center;
  color: $backColor;
}
h3 {
  padding-right: 100px;
  padding-left: 50px;
  font-size: xx-large;
  text-decoration: underline;
  background-color: $textBlue;
  color: $backColor;
}

.navbar {
  height: 1000px;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $backColor;
  overflow-x: hidden;
  transition: 0.5s;
  #settings {
    font-size: large;
    margin-left: 10px;
    text-decoration: underline;
    color: $textBlue;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    &:hover {
      color: $hover;
    }
    &:active {
        color: $active;
    }
  }
  .nav {
    #choice {
      top: 100px;
      margin: 40px 0 0 20px;
      font-size: x-large;
      color: $textBlue;
      transition: 0.3s;
      position: absolute;
      text-decoration: none;
      &:hover {
        color: $hover;
      }
      &:active {
          color: $active;
      }
    }
    #log {
      top: 160px;
      margin: 40px 0 0 20px;
      font-size: x-large;
      color: $textBlue;
      transition: 0.3s;
      position: absolute;
      text-decoration: none;
      &:hover {
        color: $hover;
      }
      &:active {
          color: $active;
      }
    }
    #pro {
      top: 220px;
      margin: 40px 0 0 20px;
      font-size: x-large;
      color: $textBlue;
      transition: 0.3s;
      position: absolute;
      text-decoration: none;
      &:hover {
        color: $hover;
      }
      &:active {
          color: $active;
      }
    }
    #chats {
      top: 280px;
      margin: 40px 0 0 20px;
      font-size: x-large;
      color: $textBlue;
      transition: 0.3s;
      position: absolute;
      text-decoration: none;
      &:hover {
        color: $hover;
      }
      &:active {
          color: $active;
      }
    }
    #loc {
      top: 340px;
      margin: 40px 0 0 20px;
      font-size: x-large;
      color: $textBlue;
      transition: 0.3s;
      position: absolute;
      text-decoration: none;
      &:hover {
        color: $hover;
      }
      &:active {
          color: $active;
      }
    }
  }
}

#select {
  margin: 575px 0 20px 0;
  #no {
    margin-left: 530px;
    background-color: $no;
    border-color: $no;
    padding: 5px 30px 5px 30px;
    font-size: 40px;
    border-width: thin;
    border-radius: 20px;
    &:hover {
      box-shadow: 5px 8px 18px rgba(255, 123, 0, .4);
    }
  }
  #view {
    font-size: 40px;
    margin: 0 50px 30px 50px;
    text-decoration: none;
    color: $textBlue;
    &:hover {
      color: $textBlack;
    }
    &:active {
        color: $active;
    }
  }
  #yes {
    background-color: $yes;
    border-color: $yes;
    padding: 5px 30px 5px 30px;
    font-size: 40px;
    border-width: thin;
    border-radius: 20px;
    &:hover {
      box-shadow: 5px 8px 18px rgba(255, 123, 0, .4);
    }
  }
}

#choice-box {
  position: absolute;
  width: 850px;
  height: 500px;
  left: 400px;
  top: 50px;
  border-radius: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
  #alt {
    text-align: center;
    padding: 160px 40px 165px 40px;
    color: $mainColor;
    border-radius: 50px;
    background-color: $backColor;
    font-size: 50px;
  }
  #title {
    top: 280px;
    left: 30px;
    font-size: 55px;
    position: absolute;
    color: $textBlack;
  }
  #breed {
    top: 360px;
    left: 35px;
    font-size: 25px;
    position: absolute;
    color: $textBlack;
  }
  #age {
    top: 400px;
    left: 35px;
    font-size: 25px;
    position: absolute;
    color: $textBlack;
  }
}

#log-butt {
  #signup {
    background-color: $backColor;
    color: $textBlue;
    margin-left: 10px;
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
  }
  #login {
    background-color: $textBlue;
    color: $backColor;
    margin-left: 690px;
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
  }
}