@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  background-color: rgb(165, 134, 199);
  transition: margin-left .5s;
  padding: 20px;
  z-index: -1;
}
.navbar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(50, 49, 66);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

#settings {
  position: absolute;
  top: 20px;
  font-size: xx-large;
  margin-left: 20px;
  text-decoration: underline;
  color: #0090B2;
}
#settings:hover {
  color: #FF7A00;
}
#settings:active {
    color: #B25500;
}

.nav li {
  margin-top: 40px;
  font-size: x-large;
  margin-left: 20px;
  color: #0090B2;
  transition: 0.3s;
}
.nav li:hover {
  color: #FF7A00;
}
.nav li:active {
    color: #B25500;
}

#choice {
  position: absolute;
  top: 80px;
}

#log {
  position: absolute;
  top: 140px;
}

#pro {
  position: absolute;
  top: 200px;
}

#chats {
  position: absolute;
  top: 260px;
}

#loc {
  position: absolute;
  top: 320px;
}

#no {
  margin-left: 520px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 40px;
  background-color: rgb(126, 20, 46);
  border-color: rgb(126, 20, 46);
  border-width: thin;
  border-radius: 20px;
}
#view {
  font-size: 40px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}
#yes {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 40px;
  background-color: rgb(20, 126, 52);
  border-color: rgb(20, 126, 52);
  border-width: thin;
  border-radius: 20px;
}

img {
  margin-left: 580px;
  height: 360px;
  width: 380px;
  border-radius: 20px;
}

h1 {
  text-align: center;
  margin-left: 480px;
  margin-right: 450px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  font-size: 100px;
  color: rgb(96, 148, 201);
  border-width: medium;
  border-color: rgb(96, 148, 201);
  border-radius: 20px;
}
h2 {
  font-size: 70px;
  text-align: center;
}