@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  background-color: rgb(165, 134, 199);
  transition: margin-left .5s;
  padding: 20px;
  z-index: -1;
}
.navbar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(50, 49, 66);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

#settings {
  position: absolute;
  top: 60px;
  font-size: xx-large;
  margin-left: 20px;
  text-decoration: underline;
  color: #0090B2;
}
#settings:hover {
  color: #FF7A00;
}
#settings:active {
    color: #B25500;
}

.nav li {
  margin-top: 40px;
  font-size: x-large;
  margin-left: 20px;
  color: #0090B2;
  transition: 0.3s;
}
.nav li:hover {
  color: #FF7A00;
}
.nav li:active {
    color: #B25500;
}

#choice {
  position: absolute;
  top: 100px;
}

#log {
  position: absolute;
  top: 160px;
}

#pro {
  position: absolute;
  top: 220px;
}

#chats {
  position: absolute;
  top: 280px;
}

#loc {
  position: absolute;
  top: 340px;
}

#no {
  margin-left: 490px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 40px;
  background-color: rgb(126, 20, 46);
  border-color: rgb(126, 20, 46);
  border-width: thin;
  border-radius: 20px;
}
#view {
  font-size: 40px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}
#yes {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 40px;
  background-color: rgb(20, 126, 52);
  border-color: rgb(20, 126, 52);
  border-width: thin;
  border-radius: 20px;
}
#select {
  margin-top: 450px;
}

#choice-box {
  position: absolute;
  width: 700px;
  height: 400px;
  left: 400px;
  top: 50px;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#title {
  position: absolute;
  top: 200px;
  left: 30px;
  font-size: 50px;
  color: rgb(0, 0, 0);
}
#breed {
  position: absolute;
  top: 280px;
  left: 35px;
  font-size: 20px;
  color: rgb(0, 0, 0);
}
#age {
  position: absolute;
  top: 320px;
  left: 35px;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

h1 {
  text-align: center;
  margin-left: 480px;
  margin-right: 450px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  font-size: 100px;
  color: rgb(96, 148, 201);
  border-width: medium;
  border-color: rgb(96, 148, 201);
  border-radius: 20px;
}
h2 {
  font-size: 80px;
  text-align: center;
  color: rgb(50, 49, 66);
}
h3 {
  position: absolute;
  top: 0px;
  padding-right: 100px;
  padding-left: 50px;
  font-size: xx-large;
  text-decoration: underline;
  background-color: #0090B2;
  color: rgb(50, 49, 66)
}
h4 {
  text-align: center;
  color: #73c0d1;
  font-size: 70px;
}

#cancel {
  font-size: large;
  background-color: rgb(50, 49, 66);
  color: #0090B2;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
}
#login {
  font-size: large;
  background-color: #0090B2;
  color: rgb(50, 49, 66);
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 690px;
  border-radius: 5px;
}